@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap');

* {
    font-family: 'UnifrakturCook', cursive;
    color: #FFF1D7;
    background-color: #790C05;
}

.custom-font {
    font-size: 3.5rem;
}

.custom-hr {
    border: 2px solid #DAA520;
    opacity: 0.5;
    margin: 0;
}

#copy-button,
#generate-button {
    background-color: #DAA520;
    color: #790C05;
}

#copy-button:hover,
#generate-button:hover {
    background-color: #FFF1D7;
}

i {
    color: #DAA520;
}

i:hover {
    color: #FFF1D7;
}